@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;800&family=Karla:ital,wght@0,400;0,500;1,400&family=Staatliches&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 110vh;
  height: 120vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#EFEFBB), to(#D4D3DD));
  background-image: linear-gradient(to right, #EFEFBB, #D4D3DD);
  background-image: -webkit-gradient(linear, left top, right top, from(#C04848), to(#480048));
  background-image: linear-gradient(to right, #C04848, #480048);
  background-image: -webkit-gradient(linear, left top, right top, from(#d53369), to(#cbad6d));
  background-image: linear-gradient(to right, #d53369, #cbad6d);
}

.win {
  font-size: 4rem;
  font-family: 'Karla';
  font-weight: 600;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 5rem;
  height: 1rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95vh;
  width: 80vh;
  border-radius: 10px;
  background-color: #F5F5F5;
  -webkit-box-shadow: 6px -5px 68px -18px rgba(0, 0, 0, 0.75);
          box-shadow: 6px -5px 68px -18px rgba(0, 0, 0, 0.75);
}

.container .rolls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70vh;
}

.container .rolls .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1rem;
  cursor: pointer;
}

.container .rolls .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem .5rem;
  border-radius: 8px;
  color: white;
  font-family: 'Karla';
  font-weight: 900;
  background-color: transparent;
  background-color: #ff5735;
  text-align: left;
  font-size: 13px;
  width: 6rem;
}

.container .heading {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Karla';
  font-weight: 600;
  text-align: center;
  height: 15vh;
}

.container .instructions {
  margin: 2rem 3.5rem;
  text-align: center;
  font-size: 2rem;
  font-family: 'Inter';
  font-weight: 200;
}

.container .dices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.container .dices .dice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Karla;
  font-weight: 700;
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  border-radius: 3.81px;
  -webkit-box-shadow: 0px 2px 2px 0px #00000026;
          box-shadow: 0px 2px 2px 0px #00000026;
  background: #FFFFFF;
  color: black;
  cursor: pointer;
}

.container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: 60vw;
}

.container .button .reset--btn {
  width: 12rem;
  height: 6rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  background-color: #ff5735;
  color: white;
  font-family: 'Karla';
  -webkit-box-shadow: 0px 3.1999998092651367px 7.679999828338623px 0px #0000002E;
          box-shadow: 0px 3.1999998092651367px 7.679999828338623px 0px #0000002E;
  cursor: pointer;
}

.container .button button {
  width: 12rem;
  height: 6rem;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  background-color: #5035FF;
  color: white;
  font-family: 'Karla';
  -webkit-box-shadow: 0px 3.1999998092651367px 7.679999828338623px 0px #0000002E;
          box-shadow: 0px 3.1999998092651367px 7.679999828338623px 0px #0000002E;
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 240px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 95vh;
    width: 95vw;
    border-radius: 10px;
    background-color: #F5F5F5;
    -webkit-box-shadow: 1px 0.5px 16px black;
            box-shadow: 1px 0.5px 16px black;
  }
  .container .dices .dice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Karla;
    font-weight: 700;
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    border-radius: 3.81px;
    -webkit-box-shadow: 0px 2px 2px 0px #00000026;
            box-shadow: 0px 2px 2px 0px #00000026;
    background: #FFFFFF;
    color: black;
    cursor: pointer;
  }
  .container .rolls {
    width: 87vw;
    gap: 0.1rem 2rem;
  }
  .container .instructions {
    margin: 1rem 1.5rem;
    text-align: center;
    font-size: 9px;
    font-family: 'Inter';
    font-weight: 200;
  }
  .container .rolls .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
    border-radius: 3px;
    color: white;
    font-family: 'Karla';
    font-weight: 900;
    background-color: transparent;
    background-color: #ff5735;
    text-align: left;
    font-size: 8px;
    width: 4rem;
    height: 1rem;
  }
  .container .dices {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: .5rem;
  }
  .container .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 67vw;
    gap: 1rem;
  }
  .win {
    font-size: 2rem;
    font-family: 'Karla';
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  .container .button .reset--btn {
    width: 12rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 3px;
    border: none;
    background-color: #ff5735;
    color: white;
    font-family: 'Karla';
    -webkit-box-shadow: 0px 3.1999998092651367px 7.679999828338623px 0px #0000002e;
            box-shadow: 0px 3.1999998092651367px 7.679999828338623px 0px #0000002e;
    cursor: pointer;
  }
  .container .button button {
    width: 12rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 3px;
    border: none;
    background-color: #5035FF;
    color: white;
    font-family: 'Karla';
    -webkit-box-shadow: 0px 3.1999998092651367px 7.679999828338623px 0px #0000002e;
            box-shadow: 0px 3.1999998092651367px 7.679999828338623px 0px #0000002e;
    cursor: pointer;
  }
}

@media (min-width: 241px) and (max-width: 362px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 95vh;
    width: 96vw;
    border-radius: 10px;
  }
  .container .dices .dice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Karla;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    border-radius: 3.81px;
    -webkit-box-shadow: 0px 2px 2px 0px  #00000026;
            box-shadow: 0px 2px 2px 0px  #00000026;
    background: #FFFFFF;
    color: black;
    cursor: pointer;
  }
  .container .button .reset--btn {
    height: 4rem;
    font-size: 1.5rem;
  }
  .container .button button {
    height: 4rem;
    font-size: 1.5rem;
  }
  .container .instructions {
    margin: 2rem 0.5rem;
    font-size: 1.5rem;
  }
  .container .rolls {
    width: 78vw;
    gap: 1rem 7rem;
  }
  .container .dices {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: .5rem;
  }
  .container .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 67vw;
    gap: 1rem;
  }
  .win {
    font-size: 4rem;
    font-family: 'Karla';
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
}

@media (min-width: 363px) and (max-width: 500px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 98vh;
    width: 92vw;
    border-radius: 10px;
  }
  .container .instructions {
    margin: 2rem 3.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Inter';
    font-weight: 200;
  }
  .container .rolls .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    color: white;
    font-family: 'Karla';
    font-weight: 900;
    background-color: transparent;
    background-color: #ff5735;
    text-align: left;
    font-size: 19px;
    width: 9rem;
  }
  .container .dices .dice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Karla;
    font-weight: 700;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2rem;
    border-radius: 3.81px;
    -webkit-box-shadow: 0px 2px 2px 0px  #00000026;
            box-shadow: 0px 2px 2px 0px  #00000026;
    background: #FFFFFF;
    color: black;
    cursor: pointer;
  }
  .container .rolls {
    width: 75vw;
    gap: 1rem 9rem;
  }
  .container .dices {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: .5rem;
  }
  .container .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 67vw;
    gap: 1rem;
  }
  .container .button .reset--btn {
    height: 4rem;
  }
  .container .button button {
    height: 4rem;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 96vh;
    width: 88vw;
    border-radius: 10px;
  }
  .container .dices .dice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Karla;
    font-weight: 700;
    height: 4.5rem;
    width: 4.5rem;
    font-size: 3rem;
    border-radius: 3.81px;
    -webkit-box-shadow: 0px 2px 2px 0px  #00000026;
            box-shadow: 0px 2px 2px 0px  #00000026;
    background: #FFFFFF;
    color: black;
    cursor: pointer;
  }
  .container .rolls {
    width: 70vw;
  }
  .container .instructions {
    font-size: 1.5rem;
  }
  .container .dices {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .container .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 67vw;
    gap: 1rem;
  }
  .container .button .reset--btn {
    width: 12rem;
    height: 6rem;
  }
  .container .button button {
    width: 12rem;
    height: 6rem;
  }
  .container .rolls .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    color: white;
    font-family: 'Karla';
    font-weight: 900;
    background-color: transparent;
    background-color: #ff5735;
    text-align: left;
    font-size: 1rem;
    width: 8rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 100vw;
  font-family: 'Inter';
  margin-top: auto;
  background-color: white;
}
/*# sourceMappingURL=main.css.map */